<!DOCTYPE html>
<html>
  <head>
    <title>Series Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="main">
    <h1><%= @page_title %>Series Online Store</h1>
  </header>
  <section class="content">
    <nav class="side_nav">
      <ul>
      <li><a href="/"></a>Home</li>
      <li><a href="/questions"></a>Questions</li>
      <li><a href="/news"></a>News</li>
      <li><a href="/contact"></a>Contact</li>
      </ul>
    </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
  </section>
  </body>
</html>
